
<div class="container add-location">
  <div class="col-12">
    <form
      action="index.html"
      method="POST"
      id="tmContactForm"
      class="tm-bg-white-transparent"
      (ngSubmit)="addLocation()"
    >
      <div class="form-group">
        <input
          type="text"
          id="contact_name"
          name="contact_name"
          class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
          placeholder="location name"
          required
          [(ngModel)]="credentials.name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="contact_email"
          name="contact_email"
          class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
          placeholder="address"
          required
          [(ngModel)]="credentials.email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="contact_password"
          name="contact_password"
          class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
          placeholder="latitude"
          required
          [(ngModel)]="credentials.password"
        />
      </div>

      <div class="text-center">
        <button
          type="submit"
          class="btn tm-btn-submit rounded-0 text-white"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>