<p class="warning container">
  FOR ACADEMIC PURPOSES ONLY. DON'T USE FOR ACTUAL COVID-19 INFORMATION
</p>
<div class="container details box-shadow about">
  <div>
    <h1 >About</h1>
    <h2>Corona Resources KC</h2>
  </div>
  <p>The idea behind the Corona Resources website is to provide users with quick information regarding COVID-19 services. 
    Currently, this is just a group project for students learning about full stack web design. 
    <br>
    None of the contributors are medical experts, so all the information should be regarded as fake whether or not the hospital name and address are accurate.</p>
</div>
