
<section>
  <div class="container-fluid">
    <div class="location-item col-12 row">
      <div class="location-name location-list">
        <a href="details.html">Saint Luke's East</a>
      </div>
        <div class="location-description">
          <p class="location-list">
            THIS WEBSITE IS JUST FOR ACADEMIC PURPOSES. DO NOT USE FOR ACTUAL COVID-19 INFORMATION
          </p>
          <div ngPreserveWhitespaces class="mb-0">
            <p class="address">100 NE Saint Luke's Blvd, Lee's Summit, MO 64086</p>
            <span class="services"><i class="fa fa-check"></i> Vaccine &ensp;</span>
            <span class="services"><i class="fa fa-times"></i> Rapid Test &ensp;</span>
            <span class="services"><i class="fa fa-check"></i> Testing </span>
          </div>
        </div>
    </div>
  </div>
</section>